<h2>Control Flow</h2>
<h3>IF</h3>
<button (click)="booleanChange()">Change</button>
@if( isTrue )
{
    <p>Yes, 1 == 1 </p>
}
@else 
{
    <p>No, it is worng</p>
}
<p *ngIf="isTrue">This is an old type of if</p>

<h3>FOR</h3>
<ul>
    @for(item of data; track item) 
    {
        <li>{{item}}</li>
    }
</ul>

<ul>
    <ng-container>
        <li *ngFor="let item of data">{{item}}</li>
    </ng-container>
</ul>

<h3>FOR With Objects</h3>

<ul>
    @for(
        item of dataWithObject;
        let i = $index;
        let c = $count; 
        let f = $first; 
        let l = $last; 
        let e = $even; 
        let o = $odd; 
        track item.id) 
    {
        <li>
            {{item.id}} - {{item.name}}
            <p> 
                index {{i}}
                count {{c}}
                first {{f}}
                last {{l}}
                even {{e}}
                odd {{o}}
            </p>
        </li>
    }
    @empty 
    {
        <li>There is no names</li>
    }
</ul>

<input #name type="text"/>
<button (click)="addNewName(name.value)">Add New</button>


<h3>SWITCH CASE</h3>

<button (click)="changeNumber()">Change Nuber</button>
<p>
The number {{numberForTestOnSwitchCase}} 
@switch (numberForTestOnSwitchCase) 
{
    @case (0) 
    {
         is 0
    }
    @case((5))
    {
        is 5
    }
    @default {
       is not 0 and also is not 5
    }
}
</p>